#inputView {
	width: 85px;
}

.info-icon {
	font-size: 1.5em;
	color: #007bff;
	cursor: pointer;
}

#angleOfViewInfo {
	padding: 0px;
	padding-left: 5px;
	margin-top: -2px;
}

#angleOfViewInfo:focus {
	outline: none;
	box-shadow: none;
}

#angleOfViewModal .modal-body {
	padding: .0rem;
}

#angleOfViewTable {
	margin-bottom: 0px;
}

#angleOfViewTable thead tr {
	text-align: center;
}

.angleOfViewLens {
	cursor: pointer;
}

#aspectRatioMenu {
	min-width: auto;
	background-clip: border-box;
	padding: 5px 0px;
}

#aspectRatioMenu li {
	padding: 3px 5px;
}

.arRow {
	display: table-row;
}

.hxvRatio {
	display: table-cell;
	min-width: 70px;
	text-align: center;
}

.calcRatio {
	padding-left: 5px;
	padding-right: 10px;
}

#imageOrientation {
	margin-left: 10px;
}

#ddFocalLength {
	min-width: 90px;
}

#lensMenu {
	min-width: 90px;
	background-clip: border-box;
}

#lensMenu li {
	text-align: center;
	padding: 3px 5px;
}

.shotLayout {
	margin-top: 15px;
	min-height: 100px;
}

.shotLayout .panel-body {
	position: relative;
}

.panRow {
	display: table;
	width: 100%;
}

.panVal {
	display: table-cell;
}

.panOverlap {
	display: table-cell;
	text-align: right;
}

.layoutRow {
	position: relative;
}

.portraitShot {
	display: inline-block;
	width: 24px;
	height: 36px;
	border: 1px solid black;
	position: absolute;
	background-color: white;
}

.landscapeShot {
	display: inline-block;
	width: 36px;
	height: 24px;
	border: 1px solid black;
	position: absolute;
	background-color: white;
}

.sampleImage {
	position: absolute;
	z-index: 100;
	background-color: rgb(173, 216, 230);
	opacity: .5;
}

.calcHeader {
	text-align: center;
	border-top: 1px solid;
	padding-top: 15px;
}

#btnCalc {
	font-weight: 700;
	border-width: 2px;
}

.calcResults {
	padding-top: 15px;
	font-size: 0.9rem;
}